{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="It me." height=250px width=125px>
        </div>
        <h3>Hi! I'm <strong>{{ .Site.Params.author }}</strong>, a Pre-Veterinary student and wildlife volunteer.</h3>
        <h3>I love anything that will challenge me, and am greatly looking forward to furthering my working knowledge of veterinary medicine through experiences in large and small animal clinical settings.</h3>
        <h3>Have a look at some of my working <a href="{{ .Site.BaseURL }}projects/"> projects</a>.</h3>
        <h3>For more check out my academic &amp; professional <a href="resume.pdf" target="_blank">resume</a>.</h3>
        <h3>Contact me by <a href="mailto:{{ .Site.Params.Social.Email }}">email</a>.</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
